set default=0
set timeout=3

menuentry "XoRlOS" {
    linux /boot/vmlinuz console=tty0 console=ttyS0,115200
    initrd /boot/initramfs
}

menuentry "XoRlOS (quiet)" {
    linux /boot/vmlinuz quiet console=tty0 console=ttyS0,115200
    initrd /boot/initramfs
}

menuentry "XoRlOS (rescue shell)" {
    linux /boot/vmlinuz console=tty0 console=ttyS0,115200 xorlos.shell
    initrd /boot/initramfs
}
