set default=0
set timeout=3

menuentry "XoRlOS" {
    linux /boot/vmlinuz quiet modules=loop,squashfs,sd-mod,usb-storage
    initrd /boot/initramfs
}

menuentry "XoRlOS (recovery)" {
    linux /boot/vmlinuz single modules=loop,squashfs,sd-mod,usb-storage
    initrd /boot/initramfs
}
